{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Docmost ({{ docmost_identifier }})
{% for service in docmost_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in docmost_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ docmost_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ docmost_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ docmost_identifier }} \
      --log-driver=none \
      --user={{ docmost_uid }}:{{ docmost_gid }} \
      --cap-drop=ALL \
      --network={{ docmost_container_network }} \
      {% if docmost_container_http_host_bind_port %}
      -p {{ docmost_container_http_host_bind_port }}:{{ docmost_container_http_port }} \
      {% endif %}
      --env-file={{ docmost_base_path }}/env \
      --label-file={{ docmost_base_path }}/labels \
      {% if docmost_container_additional_volumes | length == 0 %}
      --mount type=bind,src={{ docmost_data_path }},dst=/app/data/storage \
      {% endif %}
      {% for volume in docmost_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in docmost_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ docmost_container_image_self_build_name if docmost_container_image_self_build else docmost_container_image }}

{% for network in docmost_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ docmost_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ docmost_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ docmost_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ docmost_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ docmost_identifier }}

[Install]
WantedBy=multi-user.target
