{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if misskey_container_labels_traefik_enabled %}
traefik.enable=true

{% if misskey_container_labels_traefik_docker_network %}
traefik.docker.network={{ misskey_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if misskey_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ misskey_identifier }}-slashless-redirect.redirectregex.regex=^({{ misskey_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ misskey_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [misskey_identifier + '-slashless-redirect'] %}
{% endif %}

{% if misskey_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ misskey_identifier }}-strip-prefix.stripprefix.prefixes={{ misskey_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [misskey_identifier + '-strip-prefix'] %}
{% endif %}

{% if misskey_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in misskey_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ misskey_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [misskey_identifier + '-add-request-headers'] %}
{% endif %}

{% if misskey_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in misskey_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ misskey_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [misskey_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ misskey_identifier }}.rule={{ misskey_container_labels_traefik_rule }}
{% if misskey_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ misskey_identifier }}.priority={{ misskey_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ misskey_identifier }}.service={{ misskey_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ misskey_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ misskey_identifier }}.entrypoints={{ misskey_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ misskey_identifier }}.tls={{ misskey_container_labels_traefik_tls | to_json }}
{% if misskey_container_labels_traefik_tls %}
traefik.http.routers.{{ misskey_identifier }}.tls.certResolver={{ misskey_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ misskey_identifier }}.loadbalancer.server.port={{ misskey_container_http_port }}
{% endif %}

{{ misskey_container_labels_additional_labels }}
