{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if docmost_container_labels_traefik_enabled %}
traefik.enable=true

{% if docmost_container_labels_traefik_docker_network %}
traefik.docker.network={{ docmost_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if docmost_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ docmost_identifier }}-slashless-redirect.redirectregex.regex=^({{ docmost_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ docmost_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [docmost_identifier + '-slashless-redirect'] %}
{% endif %}

{% if docmost_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ docmost_identifier }}-strip-prefix.stripprefix.prefixes={{ docmost_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [docmost_identifier + '-strip-prefix'] %}
{% endif %}

{% if docmost_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in docmost_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ docmost_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [docmost_identifier + '-add-request-headers'] %}
{% endif %}

{% if docmost_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in docmost_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ docmost_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [docmost_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ docmost_identifier }}.rule={{ docmost_container_labels_traefik_rule }}
{% if docmost_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ docmost_identifier }}.priority={{ docmost_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ docmost_identifier }}.service={{ docmost_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ docmost_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ docmost_identifier }}.entrypoints={{ docmost_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ docmost_identifier }}.tls={{ docmost_container_labels_traefik_tls | to_json }}
{% if docmost_container_labels_traefik_tls %}
traefik.http.routers.{{ docmost_identifier }}.tls.certResolver={{ docmost_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ docmost_identifier }}.loadbalancer.server.port={{ docmost_container_http_port }}
{% endif %}

{{ docmost_container_labels_additional_labels }}
